.git
.gitignore
.gitattributes
.github
.claude
.ddev
.DS_Store
node_modules
vendor
public/build

.phpunit.result.cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
.env
.env.*
!.env.example

docs
debug
*.backup*
README.md
LICENSE
compose.yml
railway.toml
